# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/codeStyles
/modules
/libraries


jarRepositories.xml
modules.xml
kotlinc.xml
misc.xml
compiler.xml
kotlinScripting.xml
gradle.xml
vcs.xml
